.screenDiv {
  background-color: #EFEFEF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.queue {
  width: 45%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 5%;
  border-right: 1px solid black;
}

.completed {
  width: 45%;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 5%;
  border-left: 1px solid black;
}