* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
	color: #004050;
}

.queuedHeading{
	height: 10%;
	position: relative;
	padding: 0%;
	color: #004050;
	font-size: large;
	left: 10px;
}

.header{
	position: absolute;
	text-align: center;
	vertical-align: middle;
	left: 285px;
}

.completedHeading{
    height: 10%;
    text-align: center;
	color: #004050;
	font-size: large;
	padding: 0%;
	position: relative;
}