.pageArea{
	height: 10%;
}


.pageButtons{
	width: 86%;
	height: 32px;
	list-style: none;
	display: flex;
	justify-content: center;
	right: 50px;
}

.pageButtons a {
	color: #004050;
	background-color: #00EFB8;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 6px 10px;
	cursor: pointer;
	border: 1px solid #004050;
	border-radius: 2px;
}

.activePage a{
	background-color: #004050;
	color: #00EFB8;
}

.disabled a{
	visibility: hidden;
}