* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.queuedHeading{
    text-align: center;
}

.completedHeading{
    text-align: center;
}

.btnCreate {
	background-color: white;
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 14px 28px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 12px;
}

.btn {
	background-color: white;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 6px 10px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 12px;
	display: inline;
}

button:hover {
	color: white;
	background-color: black;
}
button:active {
	color: white;
	background-color: black;
}

.card {
	width: 40%;
	height: 50%;
	margin-left: 5%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #B2ACAB;
  }

.ticket-user-time{
	text-align: left;
	background-color: cornflowerblue;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid black;
}

.inline{
	padding-left: 10px;
	display: inline;
}

#create-ticket{
	display: inline;
}

.modalPopup{
	width: 70%;
	height: 70%;
	background-color: red;
	position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}